.container {
    display: flex;
}

.card {
    margin: 23px 12px;
    padding: 23px 12px;
    /* border: 2px solid red; */
    background-color: cyan;

    /* box-shadow: offset-x,offset-y color; */
    /* box-shadow:-10px -13px lightskyblue;
    box-shadow:10px 13px lightskyblue; */

    /* box-shadow: offset-x,offset-y blur-radius  color; */
    /* box-shadow:7px 5px 10px lightskyblue;
    box-shadow:-7px -5px -10px lightskyblue; */

    /* box-shadow: offset-x,offset-y blur-radius  spread-radius color; */
    box-shadow: 8px 7px 10px 8px lightskyblue;
    /* box-shadow:10px 3px 4px lightblue,5px 8px 5px red; */
}

.card h2 {
    color:white;
    /* text-shadow: offset-x offset-y color; */
    /* text-shadow: 1px 2px red; */
    /* text-shadow: offset-x offset-y blur-radius color; */
    text-shadow: 1px 2px 3px red;
}