* {
    box-sizing: border-box;

}

body {
    font-family: 'Ubuntu', sans-serif;
}

.container {

    width: 900px;
    border: 3px solid purple;
    margin: 33px auto;

}

.item {

    border: 2px solid gray;
    border-radius: 30px;
    margin: 12px 3px;
    padding: 12px 13px;
    background-color: rgb(199, 115, 115);
    text-align:justify;
}

#fruits {
    float: left;
    width: 48%;
}

#computer {
    float: left;
    width: 48%;
}

#stationery {
    /* float: left; */

    width: 100%;
    clear: both;
}

h1 {
    text-align: center;
    color: rgb(19, 19, 127);
    border: 2px solid red;
    border-radius: 30px;
    margin: 20px;
    padding: 14px 10px;
}

h3 {
    text-align: center;
}