* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f2f5;
}

.container {
    height: 100vh;
    width: 100vw;
}

#facebook-image {
    height: 213px;
    width: 428px;
    position: relative;
    top: 30%;
    left: 350px;

}

#card {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    float: right;
    clear: both;
    height: 310px;
    width: 350px;
    position: relative;
    right: 275px;
    line-height: 1.8;
    box-shadow: 5px 5px 10px whitesmoke;
}

.form-bg {
    background-color: #fff;
}

input[type='text'],
input[type='password'] {
    background-color: #fff;
    display: block;
    height: 40px;
    width: 322px;
    text-align: center;
    padding: 3px;
    margin: 10px;
    font-size: 1rem;
    border-radius: 8px;
}

.btn {
    background-color: #1877f2;
    color: white;
    height: 40px;
    width: 322px;
    margin: 8px 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #166fe5;
}

.signup {
    background-color: #42b72a;
    width: 246px;
    display: block;
    margin: 20px auto;
}

.signup:hover {
    background-color: #2da514;
}

h5 {
    background-color: #fff;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #1877f2;
    width: 322px;
    margin: auto;
    padding: 10px 20px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}